<%if @products.empty? %>

  <p>Nenhum produto cadastrado.</p>
  
<% else %>

  <table>
    <tr>
      <th>Produto</th>
      <th>Categoria</th>
    </tr>
    <% @products.each do |p| %>
      <tr id = <%=p.id%>>
        <td><%= link_to p.name, p %></td>
        <td><%= p.category.name %></td>
        <% if user_signed_in?%>
          <td><%= link_to 'Editar', edit_product_model_path(p.id)%></td>
        <% end %>
      </tr>
    <% end %>

  </table>

<% end %>