<% if @product_bundle.empty? %>
 <p>Nenhum kit cadastrado</p>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>SKU</th>
        <th>Quant. de produtos</th>
      </tr>
    <thead>
    <tbody>
      <% @product_bundle.each do |bundle| %>
        <tr>
          <td><%= bundle.name %></td>
          <td><%= bundle.sku %></td>
          <td><%= bundle.product_models.length %></td>
          <td><%= link_to 'Detalhes', bundle %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>