<h1>WareHouse App</h1>

<h3>Boas vindas ao sistema de gestão de estoques</h3>


<h3>Galpões cadastrados</h3>

<%@warehouses.each do |w|%>
  <%= link_to w.name, warehouse_path(w.id)%>
  <%=w.code%>
<%end%>